.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.department {
  display: flex;
  justify-content: space-between;
}
.department .element{
  display: flex;
  flex-direction: column;
}
.department .element select{
  width: 200px;
}
.department .element label{
  text-align: left;
}
.department .element.cta{
  flex-direction: row;
  align-self: center;
}
.department .element.cta button:first-child {
  margin-right: 20px;
}